.terraform/
.terraform-validate/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform/.backend-credentials
.terraform.tfstate.lock.info
crash.log
crash.*.log

k8s/*/values.prod.yaml
k8s/*/values.local.yaml

*.pem
sa-key*.json
kubeconfig*

.idea/
.vscode/
.DS_Store

.playwright-mcp/
