cloud_id  = "b1gxxxxxxxxxxxxxxxxx"
folder_id = "b1gxxxxxxxxxxxxxxxxx"
zone      = "ru-central1-d"

service_account_key_file = "~/.yc-keys/terraform-sa.json"

bucket_name = "bulletins-319-media"

node_preemptible = false
